<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
	
	<div th:replace="fragments/commonUI::header"></div>
	
<body>
	<div class="container">
		<div class="card-header bg-primary text-white text-center">
			<h2>Specialization Register Page</h2>
		</div>
		<div class="card-body">
			<form th:action="@{/spec/save}" method="POST">
				<div class="row form-group">
					<div class="col-3">
						<label>Enter the Specialization Code:</label>
					</div>
					<div class="col-4">
						<input type="text" name="specCode" id="specCode"
							class="form-control">
					</div>
					<div class="col-5"></div>
				</div>
				<div class="row form-group">
					<div class="col-3">
						<label>Enter the Specialization Name:</label>
					</div>
					<div class="col-4">
						<input type="text" name="specName" id="specName"
							class="form-control">
					</div>
					<div class="col-5"></div>
				</div>
				<div class="row form-group">
					<div class="col-3">
						<label>Enter the Specialization Note:</label>
					</div>
					<div class="col-4">
						<textarea  rows="3" cols="5" name="specNote" id="specNote" class="form-control">
						</textarea>
					</div>
					<div class="col-5"></div>
				</div>
				<input type="submit" value="register" class="btn btn-success">
			</form>
		</div>
		<div class="card-footer bg-primary text-white" th:if="${message!=null}">
			<h5>[[${message}]]</h5>
		</div>
	</div>
</body>
</html>